body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#000000, #217fb6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #34495E;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    color: #ecf0f1;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    text-align: left;
    font-weight: bold;
    color: #ecf0f1;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #217fb6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #1636a0;
}

#senhaFeedback {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 5px;
}

/* Estilo do Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #34495E;
    color: #ecf0f1;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
}

#darkModeToggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #1ABC9C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

#darkModeToggle:hover {
    background: #16A085;
}

body.dark-mode {
    background: linear-gradient(135deg, #1B2631, #2C3E50);
}

body.dark-mode .container,
body.dark-mode .modal-content {
    background: #2C3E50;
}
